.THIS .column {
  float: left;
  width: 75%;
}

.THIS .column1 {
  float: left;
  width: 25%;
}

.THIS .body{
    background-image: url('https://previews.123rf.com/images/vska/vska1606/vska160600072/58664048-abstract-digital-web-site-header-banner-technology-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.THIS .row:after {
  content: "";
  display: table;
  clear: both;
}


.THIS .logoContainer {
background-image: t('url(' + brandLogoImage  + ')');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
z-index: 99;
cursor: pointer;
position: relative;
max-width: 100%;
max-height: 52px;
display: block;
outline: 0;
height: 50px;
margin-top: 10px;
}